extends layout

block content
  .main
    .header
      .nav-bar
        .right-nav  
            .cart
              span.cart.cartQuantity (0)
              img.cart(src="/images/icons/cart.svg")
            img(src="/images/icons/profile.svg")
            img(src="/images/icons/search.svg")
            span |
            input(type="search" placeholder="search") 
            .right-sidenav
              .right-nav-header
                span SHOPPING CART 
                span.close-right-nav &times;
              .cart-content
                p Your cart is currently empty.
              ul
    
        .center-nav 
            ul
              div
                  a(href="#")
                    span About
              div  
                  a(href="#")
                    span Location
              div 
                  a(href="#")
                    span Art
              div
                  a(href="#")
                    span Blog
              div
                  img(src="images/logo.png")
              div
                  a(href="#")
                    span Treats
              div
                  a(href="#")
                    span Kids
              div
                  a(href="#")
                    span Men
              div
                  a(href="#")
                    span Women
        .left-nav 
            .hamburger
              div.bar1
              div.bar2
              div.bar3
            .sidenav
              .left-side-search 
              hr
              
              ul
                div
                  sapn Home
                div
                  span Home
                div  
                  span Home
                div  
                  span Home
                div  
                  span Home
    .chat-btn
      img(src="/images/icons/chat.svg")
    .chat-box
      .box-content.darker
        img.right(src="/images/avatar_g2.jpg" alt="Avatar" style="width:100%;")
        p.server Hey! I'm fine. Thanks for asking!
        span.time-left 11:01

      .box-content
        img(src="/images/bandmember.jpg" alt="Avatar" style="width:100%;")
        p.salam Sweet! So, what do you wanna do today?
        span.time-right 11:02
      
      ul#messages
      
      input.displayName(type="hidden")
      input.msg-text(type="text")
      input(type="button" value="submit").submit-msg 


               
  










  //-   h1 Welcome to my first shopping NODEJS site!
  //-   button(class="pull-left") Shopping Cart 
  //-   p#cartCount 0     

  //- div(class="col-md-3 pull-left rightDiv")
  //-   h3 Categories  
  //-   ul
  //-   -for(let item of category)
  //-     a(href="#")
  //-      li #{item.typeName}

  //- div(class="col-md-9 pull-right leftDiv")  
  //-   h3 Products  
  //-   ul
  //-   -for(let item of product)

  //-     a(href="/productSingle/"+item._id class="col-md-3 product")
  //-       div 
  //-         img(src=item.productPic width="50" height="50" alt="sz1")
  //-         p #{item.productName}   
  //-         p #{item.productPrice}   
          
  
  

