extends layout

block content
  .header
    .nav-bar
      .right-nav  
          span.cartQuantity (0)
          img(src="/images/icons/cart.svg")
          img(src="/images/icons/profile.svg")
          img(src="/images/icons/search.svg")
          span |
          input(type="search" placeholder="search") 
  
      .center-nav 
          ul
            li Home
            li Home
            li Home
            li Home
            li 
              img(src="images/logo.png")
            li Home
            li Home
            li Home
            li Home
      .left-nav 
          div.humberger
            div.bar1
            div.bar2
            div.bar3
  










  //-   h1 Welcome to my first shopping NODEJS site!
  //-   button(class="pull-left") Shopping Cart 
  //-   p#cartCount 0     

  //- div(class="col-md-3 pull-left rightDiv")
  //-   h3 Categories  
  //-   ul
  //-   -for(let item of category)
  //-     a(href="#")
  //-      li #{item.typeName}

  //- div(class="col-md-9 pull-right leftDiv")  
  //-   h3 Products  
  //-   ul
  //-   -for(let item of product)

  //-     a(href="/productSingle/"+item._id class="col-md-3 product")
  //-       div 
  //-         img(src=item.productPic width="50" height="50" alt="sz1")
  //-         p #{item.productName}   
  //-         p #{item.productPrice}   
          
  
  

